div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
button,
address,
cite,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
embed,
figure,
figcaption,
footer,
header,
hgroup,
input,
nav,
section,
audio,
video {
  padding: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
  line-height: normal;
  letter-spacing: 0;
  color: inherit;
  text-transform: none;
  vertical-align: baseline;
  border: 0;
  box-sizing: border-box;
  border-radius: 0;
}

button:focus,
input:focus {
  border: 0;
  outline: 0;
}

ol,
ul {
  list-style: none;
}

button {
  padding: 0;
  color: inherit;
  background: none;
  border: 0;
}

svg {
  fill: currentColor;
}


//------------------ Social Media button normalizing ------------------//

.pxpop-social-button {
  display: inline-block;
  height: 20px;
  vertical-align: top;

  // get 3rd party inline styles and iframes consistent
  * { vertical-align: top !important; }
}

// hide FOUC for undendered button
.pxpop-social-twitter {
  color: transparent;
}

// reapply vendor pinterest styles (It's not an iframe so it gets overridden)
// TODO: FOUC happening here as well
.pxpop-social-pinterest > span {
  position: relative;
  display: inline-block;
  height: 20px;
  padding: 0 5px 0 21px;
  font: 11px "Helvetica Neue", Helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  border-radius: 3px;
}

.pxpop-social-pinterest > span {
  box-shadow: inset 0 0 1px #888;
  color: #363636;
  background-color: #efefef;
}

.pxpop-instagram-button {
  line-height: 20px;

  img {
    width: auto;
    height: 20px;
  }
}

// editor-only "fake" svg buttons
.pxpop-dummy-social-button {
  cursor: pointer;

  img {
    width: auto;
    min-width: 68px;
    height: 20px;
  }
}

.pxpop-brand-mark {
  position: absolute;
  display: block;
  padding: 4px 5px 5px;
  line-height: 12px;

  svg {
    vertical-align: bottom;
  }
}
