@mixin rich-text {
  strong {
    font-weight: bolder;
    text-transform: inherit;
  }

  em {
    font-style: italic;
    text-transform: inherit;
  }

  a {
    text-decoration: underline;
    text-transform: inherit;
  }
}