.pxpop-intent-announcement {

  &.pxpop-shape-modal,
  &.pxpop-shape-takeover {
    .pxpop-title-line {
      margin: 0 auto 20px;
    }
  }

  &.pxpop-shape-card {
    .pxpop-title-line {
      margin: 0 auto 20px 0;
    }
  }
}
