
.pxpop-shape-bar {
  right: $gutter;
  left: $gutter;

  @media screen and (max-width: $size-small) {
    right: 0;
    left: 0;
  }

  &.pxpop-position-top {
    top: $gutter;

    @media screen and (max-width: $size-small) {
      top: 0;
    }
  }

  &.pxpop-position-bottom {
    top: auto !important;
    bottom: $gutter;

    @media screen and (max-width: $size-small) {
      bottom: 0;
    }
  }

  .pxpop-shape {
    min-height: 36px;

    @media screen and (max-width: $size-small - 1) {
      padding-right: 24px;
      padding-left: 24px;
    }

    @media screen and (min-width: $size-small) {
      padding-right: 16px;
      padding-left: 16px;
    }
  }

  // restrict height of all but cookie bar
  &:not(.pxpop-intent-cookie) {
    .pxpop-shape {
      @media screen and (max-width: $size-small - 1) {
        max-height: 40vh;
        overflow: auto;
      }
    }
  }

  &.pxpop-dismissible {
    .pxpop-close {
      position: absolute;
    }

    @media screen and (max-width: $size-medium - 1) {
      .pxpop-close {
        $shape-padding: em(18);
        top: $shape-padding;
        right: $shape-padding;
      }
    }

    @media screen and (min-width: $size-medium) {
      .pxpop-shape {
        padding-right: 46px;
      }

      .pxpop-close {
        top: calc(50% - 7.5px);
        right: 16px;
      }
    }
  }

  .pxpop-content {
    @media screen and (max-width: $size-medium - 1) {
      &::after {
        display: table;
        content: "";
        clear: both;
      }

      .pxpop-title,
      .pxpop-body {
        margin-bottom: em(12);
      }
    }

    @media screen and (min-width: $size-small) and (max-width: $size-medium - 1) {
      .pxpop-title,
      .pxpop-body {
        width: 55%;
        float: left;
      }

      .pxpop-action {
        width: 40%;
        float: right;
      }
    }

    @media screen and (min-width: $size-medium) {
      display: table;
      width: 100%;

      > * {
        display: table-cell;
        text-align: left;
        vertical-align: middle;
      }

      .pxpop-icon {
        white-space: nowrap;
        width: 1%;
      }

      .pxpop-title {
        margin-bottom: 0;
        white-space: nowrap;
        width: 1%;
      }

      .pxpop-body {
        margin-bottom: 0;
        width: 100%;
      }

      .pxpop-action {
        white-space: nowrap;
        width: 1%;
      }

      > div:not(:last-child) {
        padding-right: 1em;
      }
    }

    .pxpop-icon {
      width: 50px;

      @media screen and (max-width: $size-medium - 1) {
        display: none;
      }
    }

  }

  &.pxpop-has-image {
    .pxpop-shape {
      padding-left: 100px;
    }

    .pxpop-image {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 90px;
    }
  }

  &.pxpop-size-small {
    .pxpop-content {
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .pxpop-title { font-size: 21px; }
    .pxpop-body { font-size: 14px; }
    .pxpop-email { font-size: 14px; }
    .pxop-arrow-button { font-size: 13px; }
  }

  &.pxpop-size-medium {
    .pxpop-content { padding: 20px 14px; }
    .pxpop-title { font-size: 24px; }
    .pxpop-body { font-size: 14px; }
    .pxpop-email { font-size: 15px; }
    .pxop-arrow-button { font-size: 15px; }
  }

  &.pxpop-size-large {
    .pxpop-content { padding: 29px 24px; }
    .pxpop-title { font-size: 30px; }
    .pxpop-body { font-size: 14px; }
    .pxpop-email { font-size: 15px; }
    .pxop-arrow-button { font-size: 15px; }
  }
}
