// ---------------------------------------------------------------- //
// Animations

.pxpop-shape-modal,
.pxpop-shape-takeover {

  .pxpop-shape {
    opacity: 0;
    transform: translateY(-20px);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }

  &.pxpop-visible .pxpop-shape,
  &.pxpop-animating-in .pxpop-shape {
    opacity: 1;
    transform: translateX(0);
  }

  &.pxpop-animating-out .pxpop-shape {
    opacity: 0;
    transform: translateY(20px);
  }
}

.pxpop-shape-takeover {
  &.pxpop-animating-in .pxpop-shape {
    transition-delay: 0.2s, 0.2s;
  }
}

.pxpop-overlay {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;

  .pxpop-shape-takeover.pxpop-visible &,
  .pxpop-shape-takeover.pxpop-animating-in & {
    opacity: 1;
  }

  .pxpop-shape-modal.pxpop-visible &,
  .pxpop-shape-modal.pxpop-animating-in & {
    opacity: 0.4;
  }

  .pxpop-animating-out & {
    opacity: 0;
  }
}

.pxpop-shape-bar {
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

  &.pxpop-position-bottom {
    transform: translateY(50%);
  }

  &.pxpop-position-top {
    transform: translateY(-50%);
  }

  &.pxpop-visible,
  &.pxpop-animating-in {
    opacity: 1;
    transform: translateY(0);
  }

  &.pxpop-animating-out {
    opacity: 0;

    &.pxpop-position-bottom {
      transform: translateY(50%);
    }

    &.pxpop-position-top {
      transform: translateY(-50%);
    }
  }
}

.pxpop-shape-card {
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

  &.pxpop-position-bottom-left,
  &.pxpop-position-bottom-right {
    transform: translateY($gutter);
  }


  &.pxpop-position-top-left,
  &.pxpop-position-top-right {
    transform: translateY(-$gutter);
  }

  &.pxpop-visible,
  &.pxpop-animating-in {
    opacity: 1;
    transform: translateY(0);
  }

  &.pxpop-animating-out {
    opacity: 0;

    &.pxpop-position-bottom-left,
    &.pxpop-position-bottom-right {
      transform: translateY($gutter);
    }

    &.pxpop-position-top-left,
    &.pxpop-position-top-right {
      transform: translateY(-$gutter);
    }
  }
}
