@import "svgs";
@import "vars";

.pxpop-instance {
  position: fixed;
  z-index: 2147483647;
  text-align: left;
}

.pxpop-shape {
  background-image: $background-texture;
}

.pxpop-close {
  display: inline-block;
  cursor: pointer;

  svg {
    vertical-align: top;
  }
}

.pxpop-shape {
  max-height: calc(100% - #{$gutter * 2});
  overflow: auto;
}

.pxpop-image {
  background: {
    position: center center;
    size: cover;
  }

  img {
    display: none;
    height: 100%;
    opacity: 0;
  }
}

// ---------------------------------------------------------------- */
// Base Content

.pxpop-title {
  margin-bottom: 0.5em;
  line-height: 1.2;
}

.pxpop-body {
  @include rich-text;
  margin-bottom: 2em;
}

.pxpop-link {
  text-transform: uppercase;
  letter-spacing: 0.08em;

  &:not(:first-child) {
    margin-left: 1em;
  }
}

