$brandmark-padding: 5px;

.pxpop-brand-mark {
  .pxpop-shape-bar & {
    right: calc(#{em(11, 14)} - #{$brandmark-padding});
    bottom: calc(#{em(9, 14)} - #{$brandmark-padding});
  }

  .pxpop-shape-card & {
    right: calc(#{em(14, 14)} - #{$brandmark-padding});
    bottom: calc(#{em(12, 14)} - #{$brandmark-padding});
  }

  .pxpop-shape-modal & {
    right: calc(#{em(20, 14)} - #{$brandmark-padding});
    bottom: calc(#{em(14, 14)} - #{$brandmark-padding});
  }

  .pxpop-shape-takeover & {
    right: auto;
    bottom: 0;
    left: calc(50% - 56px);
  }
}

// padding adjustments on content to make space for branding
.pxpop-has-branding {
  &.pxpop-shape-bar {
    .pxpop-content {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  &.pxpop-shape-takeover {
    .pxpop-content {
      padding-top: 2em;
      padding-bottom: 2em;
    }
  }

  &.pxpop-shape-card {
    .pxpop-content {
      padding-bottom: 36px;
    }
  }
}
