// A small accentColor line that displays above the title
.pxpop-title-line {
  display: block;
  width: 54px;
  height: 3px;
  margin-bottom: 20px;
  content: "";

  .pxpop-shape-bar & {
    // scss-lint:disable ImportantRule
    display: none !important;
  }
}

// ---------------------------------------------------------------- */
// Arrow button

.pxpop-arrowbutton {
  height: $input-height;
  max-width: 100%;
  padding: 0 28px 0 24px;
  overflow: hidden;
  font-size: 16px;
  line-height: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 0;
}

.pxpop-arrowbutton-body,
.pxpop-arrowbutton-head {
  @extend %absolute-svg;
}

.pxpop-arrowbutton-body {
  right: 14px;
  left: 0;
}

.pxpop-arrowbutton-head {
  right: 0;
  width: 14px;

  svg { float: right; }
}

.pxpop-arrowbutton-shadow {
  opacity: 0.2;
}
