.pxpop-arrowbutton,
.pxpop-coupon-code {
  position: relative;
  z-index: 0;
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
}

%absolute-svg {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
}


