.pxpop-font-a {
  font-family: "Poppins", sans-serif;

  .pxpop-title {
    font-weight: 600;
  }

  .pxpop-body {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.08em;
  }

  .pxpop-email {
    font-weight: 400;
  }

  .pxpop-arrowbutton {
    font-weight: 600;
    text-transform: uppercase;
  }
}

.pxpop-font-b {
  font-family: "Work Sans", sans-serif;

  .pxpop-title,
  .pxpop-arrowbutton {
    font-weight: 800;
  }

  .pxpop-body,
  .pxpop-email {
    font-weight: 400;
  }
}

.pxpop-font-c {
  font-family: "Rubik", sans-serif;
  font-weight: 400;

  .pxpop-arrowbutton {
    font-weight: 700;
  }
}

.pxpop-font-d {
  font-family: "Work Sans", sans-serif;

  .pxpop-title,
  .pxpop-arrowbutton {
    font-family: "Unica One", cursive;
    text-transform: uppercase;
  }
}

.pxpop-font-e {
  font-family: "Rubik", sans-serif;

  .pxpop-title {
    font-family: "Fredoka One", cursive;
  }

  .pxpop-arrowbutton {
    text-transform: uppercase;
  }
}
